<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" stopOnError="true" stopOnFailure="true" stopOnIncomplete="false" stopOnSkipped="false">
	<testsuites>
		<testsuite name="Tests">
		   <file>./tests/SmsBroadcastTests.php</file>
	   </testsuite>
	</testsuites>
</phpunit>